@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-base: Poppins;

$primary:#3D4073;
$secondary:#E6E6E6;
$success:#28a745;
$danger:#dc3545;
$info:#17a2b8;
$warning:#FFB322;
$light:#f8f9fa;
$dark:#343434;
$enable-gradients:true;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;
$enable-responsive-font-sizes: true;

$body-bg: #F0F0F0;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand {
  img {
    display: block;
    max-height: 30px;
  }
}