<div class="pageSignup container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-8 vh-100 brd-bg-image bg-primary"></div>
    <div class="col-md-4">
      <div class="vh-100 d-flex align-items-center py-5">
        <form class="form-signin" (ngSubmit)="register()">
          <div class="px-5 mx-5">
            <div class="row mt-3">
              <div class="col-12 text-center mb-4">
                <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x" alt="">
              </div>

              <div class="col-12 text-center mb-4">
                <h4>WhatsGoo Esnaf'a Hoşgeldiniz</h4>
              </div>

              <div class="col-12">
                <fieldset class="form-group omni-commerce-ui-form-group">
                  <label for="first_name">İsim</label>
                  <input type="text" class="form-control" id="first_name" [(ngModel)]="registerUser.name" name="first_name" required>
                </fieldset>
              </div>

              <div class="col-12">
                <fieldset class="form-group omni-commerce-ui-form-group">
                  <label for="last_name">Soyisim</label>
                  <input type="text" class="form-control" id="last_name" [(ngModel)]="registerUser.surname" name="last_name" required>
                </fieldset>
              </div>

              <div class="col-12">
                <fieldset class="form-group omni-commerce-ui-form-group">
                  <label for="username">Kullanıcı Adı</label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="registerUser.username" name="username" required>
                </fieldset>
              </div>

              <div class="col-12">
                <fieldset class="form-group omni-commerce-ui-form-group">
                  <label for="email">E-posta Adresi</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="registerUser.email" name="email" required>
                </fieldset>
              </div>

              <div class="col-12">
                <fieldset class="form-group omni-commerce-ui-form-group">
                  <label for="password">Şifre</label>
                  <input type="password" class="form-control" id="password" [(ngModel)]="registerUser.password" name="password" required>
                </fieldset>
              </div>

              <div class="col-md-12">
                <button class="btn btn-lg btn-warning btn-block text-white" type="submit">Kayıt ol</button>
                <a routerLink="/auth/signin" class="btn btn-lg btn-secondary btn-block">Giriş Yap</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>