<div class="pageSignin container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-6 col-xl-8 vh-100 brd-bg-image bg-primary"></div>
    <div class="col-md-6 col-xl-4">
      <div class="vh-100 d-flex align-items-center py-5">
        <form class="form-signin" #formLogin="ngForm">
          <div class="px-xl-5 mx-xl-5">
            <div class="row mt-3">
              <div class="col-12 text-center mb-4">
                <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x" alt="">
              </div>

              <div class="col-12 text-center mb-4">
                <h4>WhatsGoo Esnaf'a Hoşgeldiniz</h4>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="emailAddress">İsim</label>
                  <input [(ngModel)]="username" name="username" type="text" class="form-control" id="emailAddress" required autofocus>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="password">Şifre</label>
                  <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" required>
                </div>
              </div>

              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" (click)="login()" [class.disabled]="isLoading || formLogin.invalid " [disabled]=" isLoading || formLogin.invalid">
                  <span name="loadingSpan" class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"></span>
                  Giriş
                </button>
                <a routerLink="/auth/signup" class="btn btn-lg btn-secondary btn-block">Kayıt Ol</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>