<div class="bg-white py-2 px-3 d-flex mb-3">
  <span class="flex-grow-1 align-self-center d-none d-md-inline-block">/ Mağazalar</span>

  <div class="align-self-center mr-3">
    <div class="input-group mr-2">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" class="form-control col" id="brdKeyword" placeholder="Mağaza ara">
    </div>
  </div>

  <a href="#" class="btn btn-light align-self-center brd-signout">Çıkış Yap</a>
</div>

<div class="container pageTenants">
  <div class="row">

        <div class="col-md-6 my-2">
          <div class="card shadow brd-tenant">
            <div class="card-body">
              <div class="d-flex">
                <img class="d-none d-md-inline-block" src="/assets/images/tenant.png" srcset="/assets/images/tenant.png 1x, /assets/images/tenant@2x.png 2x, /assets/images/tenant@3x.png 3x" />

                <div class="flex-grow-1 mx-3 align-self-center">
                  <span class="font-weight-bold d-block">name</span>
                  <small>description</small>
                </div>

                <a href="/#" class="btn btn-warning text-white align-self-center">Mağazaya Git</a>
              </div>
            </div>
          </div>
        </div>


    <div class="col-md-6 my-2">
      <div class="card shadow brd-tenant">
        <div class="card-body">
          <div class="d-flex">
            <img class="d-none d-md-inline-block" src="/assets/images/tenant-new.png" srcset="/assets/images/tenant-new.png 1x, /assets/images/tenant-new@2x.png 2x, /assets/images/tenant-new@3x.png 3x" />

            <div class="flex-grow-1 mx-3 align-self-center">
              <span class="font-weight-bold d-block">Yeni Mağaza Ekle</span>
            </div>

            <a href="/tenants-insert" class="btn btn-light align-self-center">Mağaza Ekle</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center mt-3">
      <!-- {{> webComponentPagination currentPage=currentPage totalCount=totalCount pageItems=pageItems isSmall=true}} -->
    </div>
  </div>
</div>