<div class="container">

  <h3>Mesajlar {{currentUser.name}} {{currentUser.surname}}</h3>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">

        <div class="headind_srch">
          <div class="btn-group my-1">
            <button class="btn btn-sm btn-success" (click)="setRouter(1)">Kişiler</button>
            <button class="btn btn-sm btn-primary" (click)="setRouter(2)">Mesajlar</button>
          </div>
        </div>

        <div *ngIf="routerValue == 1" class="my-1">

          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Kişiler</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="search" class="search-bar" [(ngModel)]="q" placeholder="Ara" placeholder="Search">
                <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true" (click)="find()"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list" [class.active_chat]="user == selectedUser" *ngFor="let user of users" (click)="selectUser(user)">
              <div class="chat_people">
                <div class="chat_img"> <img src="{{getImage(user)}}" class="rounded-circle" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{user.name}} {{user.surname}} <span class="chat_date">Dec 25</span></h5>
                  <p>Last Message<br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="routerValue == 2" class="my-1">

          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Mesajlar</h4>
            </div>
          </div>

          <div class="inbox_chat">
            <div class="chat_list" [class.active_chat]="room == selectedRoom" *ngFor="let room of rooms" (click)="selectRoom(room)">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" class="rounded-circle"> </div>
                <div class="chat_ib">
                  <div *ngFor="let user of room.users">
                    <h5>{{user.name}} {{user.surname}}<span class="chat_date">Dec 25</span></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedUser  && routerValue == 1">

        <div class="mesgs">
          <div class="msg_history">
            <h4 class="mb-0 d-block">{{selectedUser.name}} {{selectedUser.surname}}</h4>
            <span class="d-block font-weight-bold">{{selectedUser.email}}</span>
          </div>

          <div class="type_msg">
            <button class="btn bg-success text-white" type="button" (click)="findOrCreateRoom()">Mesaj Gönder</button>
          </div>
        </div>


      </div>

      <div *ngIf="selectedRoom  && routerValue == 2">

        <div class="mesgs">
          <div class="msg_history" id="msg_history">
            <div *ngFor="let message of messages">

              <div *ngIf="getMessageClass(message)">
                <div class="incoming_msg">
                  <!-- <div class="incoming_msg_img"> <img src="{{getImage(getSendUser(message.creatUser))}}" alt="sunil"> </div> -->
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{message.message}}</p>
                      <span class="time_date"> {{message.createdAt | date: "dd/MM/yyyy - hh:mm:ss"}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!getMessageClass(message)">
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{message.message}}</p>
                    <span class="time_date"> {{message.createdAt | date: "dd/MM/yyyy - hh:mm:ss"}}</span>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="type_msg">
            <div class="input_msg_write">
              <form #form="ngForm" (ngSubmit)="sendMessage()">
                <input type="text" class="write_msg" name="text" [(ngModel)]="msg" placeholder="Type a message" />
              </form>
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" (click)="sendMessage()" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>