<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
  <a class="navbar-brand mr-auto mr-lg-0" href="/">
    <img src="/assets/images/logo-navbar.png" srcset="/assets/images/logo-navbar.png 1x, /assets/images/logo-navbar@2x.png 2x, /assets/images/logo-navbar@3x.png 3x" />
  </a>

  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active">Mesajlar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#" (click)="logout()">Çıkış</a>
      </li>
    </ul>
  </div>
</nav>