<div class="card">
  <div class="card-header">
    <a routerLink="/todoAdd" class="btn btn-success">Add {{atest}}</a>

  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let todo of todos | async">
        {{todo.content}}
        <button (click)="removeTodo(todo._id)" class="btn btn-danger">Delete</button>
      </li>
    </ul>
  </div>
</div>